:root {
  --vh: 1vh;
}
body,
html {
  margin: 0;
}
body {
  overflow-x: hidden;
}
.App {
  width: 100%;
  height: var(--vh);
  background-color: #fafafa;
}
.App .menu-panel-bg {
  width: 100%;
  height: var(--vh);
  position: fixed;
  z-index: 39;
  background-color: #212121;
}
.App .menu-panel {
  transition: transform 250ms ease-out;
  transform: translateX(100vw);
  width: 60vw;
  height: var(--vh);
  background-image: linear-gradient(
    15deg,
    rgba(29, 61, 105, 0.75),
    rgba(29, 61, 105, 0.9),
    rgba(29, 61, 105, 0.98),
    rgba(29, 61, 105, 1)
  );
  position: fixed;
  top: 0;
  z-index: 40;
  padding: 12vw 40px 12vw 30px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
.App .menu-panel img {
  display: block;
  margin-bottom: 50px;
}
.App .menu-panel .content {
  margin-top: 50px;
}
.App .menu-panel .content p {
  font-size: 0.93rem;
  margin-bottom: 20px;
  margin-left: -15px;
  margin-right: -15px;
  opacity: 0.8;
  display: block;
}
.App .menu-panel.active {
  transform: translateX(40vw);
}
.App .emergencyPage-container {
  position: fixed;
  opacity: 0;
  bottom: 0;
  width: 100%;
  height: var(--vh);
  overflow: auto;
  z-index: 50;
  transform: translateY(var(--vh));
  font-family: "Montserrat", sans-serif;
}
.App .emergencyPage-container .emergencyPage-topBar {
  background-color: #ab2615;
  padding: 26px 8vw 0 8vw;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  height: 150px;
  z-index: 13;
}
.App .emergencyPage-container .emergencyPage-topBar img {
  width: 26px;
  height: 26px;
}
.App .emergencyPage-container .emergencyPage-topBar h2 {
  font-size: 24px;
  padding: 20px 0 10px 0;
  color: #fff;
  letter-spacing: 0.5px;
}
.App .emergencyPage-container .symptoms-container {
  width: 100%;
  padding: 155px 3vw;
  box-sizing: border-box;
  background-color: #fff;
}
.App .emergencyPage-container .symptoms-container .symptom-card {
  background-color: #f0e4bb;
  border: 1px solid #e0d9b8;
  border-radius: 4px;
  width: 100%;
  padding: 6px 14px;
  margin: 12px 0;
  box-sizing: border-box;
  transition-duration: 400;
}
.App
  .emergencyPage-container
  .symptoms-container
  .symptom-card
  .header-content {
  font-size: 15px;
  line-height: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.App
  .emergencyPage-container
  .symptoms-container
  .symptom-card
  .header-content
  h4 {
  color: #ab2615;
  width: 70vw;
}
.App
  .emergencyPage-container
  .symptoms-container
  .symptom-card
  .header-content
  span {
  color: #212121;
}
.App
  .emergencyPage-container
  .symptoms-container
  .symptom-card
  .header-content
  .dropdown-btn {
  height: 100%;
  width: 30px;
}
.App
  .emergencyPage-container
  .symptoms-container
  .symptom-card
  .header-content
  .dropdown-btn
  img {
  height: 10px;
}
.App .emergencyPage-container .symptoms-container .symptom-card .instructions {
  overflow-y: hidden;
  transition-timing-function: ease-in-out;
  transition-duration: 250ms;
}
.App
  .emergencyPage-container
  .symptoms-container
  .symptom-card
  .instructions
  p {
  font-weight: 300;
  line-height: 1.7rem;
}
@keyframes slideToBottom {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(var(--vh));
    opacity: 1;
  }
}
@keyframes slideFromBottom {
  0% {
    transform: translateY(var(--vh));
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}
.App .emergencyPage-container.active {
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-name: slideFromBottom;
  transform: translateY(0);
  opacity: 1;
}
.App .emergencyPage-container.inactive {
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-name: slideToBottom;
  transform: translateY(var(--vh));
  opacity: 0;
}
.App .TopArea {
  font-family: "Montserrat", sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
  background-image: linear-gradient(
    rgba(250, 250, 250, 1) 30%,
    rgba(250, 250, 250, 0.95) 45%,
    rgba(250, 250, 250, 0.8) 65%,
    rgba(250, 250, 250, 0.5) 80%,
    rgba(250, 250, 250, 0.2) 90%,
    rgba(250, 250, 250, 0) 100%
  );
}
.App .TopArea .flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  padding: 0 8vw 0 8vw;
  box-sizing: border-box;
  color: #212121;
}
.App .TopArea .flex-container img {
  width: 26px;
}
.App .TopArea .flex-container .back-arrow {
  width: 26px;
  height: 26px;
}
.App .TopArea .flex-container .AppName {
  font-size: 20px;
  font-weight: 800;
  margin: 4px 0 0 0;
}
.App .TopArea .flex-container .care-type {
  position: absolute;
  font-size: 12px;
  color: #377d4f;
  top: 1vh;
  white-space: nowrap;
  text-align: center;
  width: 100%;
  margin-left: -8vw;
}
.App .TopArea .flex-container .more-btn {
  height: 24px;
  width: 26px;
}
.App .ProgressBar.progress-bar-transition-enter {
  transform: translateY(-5vh);
  opacity: 0 !important;
}
.App .ProgressBar.progress-bar-transition-enter-active {
  transition: transform 300ms, opacity 300ms ease-in;
  transform: translateY(0);
  opacity: 1 !important;
}
.App .ProgressBar.progress-bar-transition-exit {
  transform: translateY(0);
  opacity: 1 !important;
}
.App .ProgressBar.progress-bar-transition-exit-active {
  transition: transform 300ms, opacity 300ms ease-out;
  transform: translateY(-5vh);
  opacity: 0 !important;
}
.App .ProgressBar .bar-background {
  background-color: #e8e8e8;
  height: 18px;
  border-radius: 18px;
  margin: 0 8vw;
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.06);
  position: relative;
}
.App .ProgressBar .bar-background .bar-shadow-indicator {
  height: 14px;
  border-radius: 14px;
  position: absolute;
  top: 2px;
  margin: 0 2px;
  transition: width 250ms linear;
  background-color: #b8b8b8;
}
.App .ProgressBar .bar-background .bar-indicator {
  height: 14px;
  border-radius: 14px;
  position: absolute;
  top: 2px;
  margin: 0 2px;
  transition: width 250ms linear;
  background-color: #315991;
}
.App .checkboxComponent {
  width: 100%;
  padding: 10px 0;
}
.App .checkboxComponent form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.App .checkboxComponent form p {
  color: #212121;
  margin: 0;
  font-weight: 700;
  font-size: 0.9rem;
}
.App .checkboxComponent form .checkbox-input {
  appearance: none;
  background-color: #fff;
  border: 2px solid #212121;
  padding: 9px;
  border-radius: 4px;
  display: inline-block;
  position: relative;
}
.App .checkboxComponent form .checkbox-input:focus {
  outline: none;
}
.App .checkboxComponent form .checkbox-input:checked::after {
  content: url(./Images/checkbox-tik.svg);
  position: absolute;
  width: 21px;
  height: 21px;
  top: -3px;
  left: 3px;
}
.App .Textarea {
  margin-top: 30px;
}
.App .Textarea p {
  margin: 10px 0 !important;
  text-align: start !important;
  font-weight: 700 !important;
  font-size: 0.9rem;
}
.App .Textarea textarea {
  box-sizing: border-box;
  width: 100%;
  height: 30vh;
  border: 1px solid #8c8c8c;
  border-radius: 4px;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-style: italic;
  font-size: 14px;
  padding: 15px;
}
.App .Textarea textarea:focus {
  outline: none;
}
.App .slidable.slide-right-enter {
  transform: translateX(100vw);
}
.App .slidable.slide-right-enter-active {
  overflow-y: hidden;
  transform: translateX(0);
  transition: transform 300ms;
}
.App .slidable.slide-right-exit {
  transform: translateX(0);
}
.App .slidable.slide-right-exit-active {
  overflow-y: hidden;
  transform: translateX(-100vw);
  transition: transform 300ms;
}
.App .slidable.slide-left-enter {
  transform: translateX(-100vw);
}
.App .slidable.slide-left-enter-active {
  transform: translateX(0);
  transition: transform 300ms;
  overflow-y: hidden;
}
.App .slidable.slide-left-exit {
  transform: translateX(0);
}
.App .slidable.slide-left-exit-active {
  overflow-y: hidden;
  transform: translateX(100vw);
  transition: transform 300ms;
}
.App .Page {
  position: absolute;
  top: 118px;
  height: 81.7vh;
  width: 100%;
  overflow-y: scroll;
}
.App .Page .page-content {
  background-color: #fafafa;
  padding: 0.5vh 6vw 37vh 6vw;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  /*.attention text and emergency link properties are in the landingpage*/
}
.App .Page .page-content .page-title {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 30px;
  font-weight: 600;
}
.App .Page .page-content .page-paragraph {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 300;
  line-height: 1.8rem;
}
.App .Page .page-content .page-paragraph2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 300;
  line-height: 1.8rem;
}
.App .Page .page-content .attentionText {
  color: #ad3e2f;
  font-weight: 800;
}
.App .Page .page-content .emergencyPage-link {
  font-size: 1rem;
}
.App .Page .page-content .emergencyPage-link span {
  text-decoration: underline;
  color: #ad3e2f;
}
.App .care-type-selection-title {
  text-align: center;
  margin-bottom: 40px;
}
.App .care-type-selection-button {
  height: 10vh;
  width: 80vw;
  margin-left: 4vw;
  font-size: 17px;
  border: 1px solid #8c8c8c;
  border-radius: 4px;
  background-color: #fff;
}
.App .care-type-selection-button:first-of-type {
  margin-bottom: 5vh;
}
.App .DoubleButton {
  margin: 30px 10px 0px 10px;
}
.App .DoubleButton h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  margin-bottom: 25px;
}
.App .DoubleButton p {
  margin-bottom: 25px;
  font-weight: 100;
  line-height: 1.6rem;
  text-align: start;
  font-size: 0.9rem;
}
.App .DoubleButton form {
  display: flex;
  justify-content: space-between;
}
.App .DoubleButton input {
  border: 1px solid #8c8c8c;
  background-color: #fff;
  border-radius: 4px;
  height: 36px;
  width: 40vw;
  font-size: 14px;
}
.App .DoubleButton input:focus {
  outline: none;
}
.App .DoubleButton .hoito-ohje {
  margin-top: 10px;
  padding: 0px 20px;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  max-height: 0;
  background-color: #fee715;
  overflow: hidden;
  transition-duration: 400ms;
  transition-timing-function: ease-in-out;
}
.App .DoubleButton .hoito-ohje p {
  font-size: 14px;
  text-align: start;
  line-height: 1.8rem;
}
.App .DoubleButton .double-button-inactive {
  background: "#fff";
  color: "#212121";
  border-color: "#8c8c8c";
}
.App .DoubleButton .active {
  width: 100%;
  max-height: 880px;
  padding: 10px 20px;
}
.App .news-container {
  text-align: center;
}
.App .news-container .news-input {
  border: 1px solid #8c8c8c;
  border-radius: 4px;
  text-align: center;
  font-size: 28px;
  color: #212121;
  width: 140px;
  height: 60px;
  margin-bottom: 20px;
}
.App .news-container .news-input:focus {
  outline: none;
}
.App .news-container ::placeholder {
  opacity: 0.32;
}
.App .news-container .news-input:focus::placeholder {
  color: transparent;
}
.App .news-container .news-meter {
  display: flex;
  height: 30px;
  width: 100%;
}
.App .news-container .news-meter-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 14.2857142857%;
  opacity: 0.65;
  color: #fff;
  font-size: 12px;
  transition-delay: 150ms;
  transition-duration: 250ms;
}
.App .news-container .n1 {
  background-color: #ad3e2f;
  border-radius: 4px 0 0 4px;
  overflow: hidden;
}
.App .news-container .n7 {
  background-color: #ad3e2f;
  border-radius: 0 4px 4px 0;
  overflow: hidden;
}
.App .news-container .n2,
.App .news-container .n6 {
  background-color: #db5400;
  overflow: hidden;
}
.App .news-container .n3,
.App .news-container .n5 {
  background-color: #f0a171;
  overflow: hidden;
}
.App .news-container .n4 {
  background-color: #377d4f;
  overflow: hidden;
}
.App .news-container .active {
  opacity: 1;
  width: 60px;
  height: 40px;
  transform: translateY(-12%);
  font-size: 15px;
}
.App .instruction-page-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.App .instruction-page-container .instruction-page {
  padding: 120px 4vw 0 4vw;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.App .instruction-page-container .instruction-page .checkmark {
  width: 40px;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translateX(-50%);
  transition-duration: 500ms;
  transition-delay: 400ms;
}
.App .instruction-page-container .instruction-page .checkmark.animate {
  opacity: 1;
  width: 80px;
}
.App .instruction-page-container .instruction-page .scoreCard-container {
  width: 100%;
  background-color: #284e78;
  padding: 15px 20px;
  box-sizing: border-box;
  letter-spacing: 0.5px;
  line-height: 1.6rem;
  color: #fff;
  margin: 0;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.21);
}
.App .instruction-page-container .instruction-page .scoreCard-container p {
  font-size: 1.1rem;
  margin: 20px 0;
}
.App .instruction-page-container .instruction-page .scoreCard-container h3 {
  margin-top: 35px;
}
.App
  .instruction-page-container
  .instruction-page
  .InstructionCard-first-container {
  width: 100%;
  background-color: #fff;
  padding: 15px 20px;
  box-sizing: border-box;
  letter-spacing: 0.5px;
  line-height: 1.6rem;
  color: #212121;
  margin: 20px 0;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.21);
}
.App
  .instruction-page-container
  .instruction-page
  .InstructionCard-first-container
  p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 200;
  padding: 0;
}
.App
  .instruction-page-container
  .instruction-page
  .InstructionCard-first-container
  span {
  font-weight: 600;
}
.App
  .instruction-page-container
  .instruction-page
  .InstructionCard-first-container
  .unusual-findings-list {
  padding: 10px 10px;
  color: #ad3e2f;
  font-weight: 500;
}
.App
  .instruction-page-container
  .instruction-page
  .InstructionCard-first-container
  .unusual-findings-list
  p {
  font-size: 1.1rem;
}
.App
  .instruction-page-container
  .instruction-page
  .InstructionCard-first-container
  .control-btn {
  margin: 15px auto 15px auto;
  display: flex;
  justify-content: space-between;
  width: 180px;
}
.App
  .instruction-page-container
  .instruction-page
  .InstructionCard-first-container
  .control-btn
  p {
  font-weight: 800;
}
.App
  .instruction-page-container
  .instruction-page
  .InstructionCard-first-container
  .control-btn
  .downArrow {
  width: 24px;
  height: 24px;
  background-color: #f0c816;
  padding: 20px 23px 26px 23px;
  border-radius: 40px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
.App .instruction-page-container .instruction-page .instruction-news-component {
  display: none;
  text-align: center;
  padding: 20px 10px;
  margin: 20px 0;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.21);
}
.App
  .instruction-page-container
  .instruction-page
  .instruction-news-component
  h1 {
  font-size: 1.2rem;
}
.App
  .instruction-page-container
  .instruction-page
  .instruction-news-component
  p {
  margin: 20px 0 20px 0;
  font-weight: 200;
  box-sizing: border-box;
  padding: 0 15px;
  line-height: 1.6rem;
}
.App
  .instruction-page-container
  .instruction-page
  .instruction-news-component.active {
  display: block;
}
.App
  .instruction-page-container
  .instruction-page
  .controlled-scoreCard-container {
  display: hidden;
  width: 100%;
  background-color: #284e78;
  padding: 15px 20px;
  box-sizing: border-box;
  letter-spacing: 0.5px;
  line-height: 1.6rem;
  color: #fff;
  margin: 0;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.21);
}
.App
  .instruction-page-container
  .instruction-page
  .controlled-scoreCard-container
  p {
  font-size: 1.1rem;
}
.App
  .instruction-page-container
  .instruction-page
  .controlled-scoreCard-container
  h3 {
  margin-top: 20px;
}
.App
  .instruction-page-container
  .instruction-page
  .controlled-scoreCard-container.active {
  display: block;
  width: 100%;
  background-color: #284e78;
  padding: 15px 20px;
  box-sizing: border-box;
  letter-spacing: 0.5px;
  line-height: 1.6rem;
  color: #fff;
  margin: 20px 0;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.21);
}
.App
  .instruction-page-container
  .instruction-page
  .controlled-scoreCard-container.active
  p {
  font-size: 1.1rem;
}
.App
  .instruction-page-container
  .instruction-page
  .controlled-scoreCard-container.active
  h3 {
  margin-top: 35px;
}
.App
  .instruction-page-container
  .instruction-page
  .controlled-scoreCard-container.active {
  width: 100%;
  background-color: #284e78;
  padding: 15px 20px;
  box-sizing: border-box;
  letter-spacing: 0.5px;
  line-height: 1.6rem;
  color: #fff;
  margin: 20px 0;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.21);
}
.App
  .instruction-page-container
  .instruction-page
  .controlled-scoreCard-container.active
  p {
  font-size: 1.1rem;
  margin: 60px 0 10px 0;
}
.App
  .instruction-page-container
  .instruction-page
  .controlled-scoreCard-container.active
  h3 {
  margin-top: 35px;
}
.App
  .instruction-page-container
  .instruction-page
  .InstructionCard-second-container {
  width: 100%;
  background-color: #fff;
  padding: 15px 20px;
  box-sizing: border-box;
  letter-spacing: 0.5px;
  line-height: 1.6rem;
  color: #212121;
  margin: 20px 0;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.21);
}
.App
  .instruction-page-container
  .instruction-page
  .InstructionCard-second-container
  hr {
  margin: 25px 0;
  opacity: 0.25;
}
.App
  .instruction-page-container
  .instruction-page
  .InstructionCard-second-container
  p {
  margin: 0 0 20px 0;
  font-weight: 200;
  padding: 0;
}
.App
  .instruction-page-container
  .instruction-page
  .InstructionCard-second-container
  span {
  font-weight: 600;
}
.App
  .instruction-page-container
  .instruction-page
  .InstructionCard-second-container
  .content {
  display: flex;
}
.App .instruction-page-container .instruction-page .report-container {
  color: #212121;
  margin-top: 20px;
}
.App
  .instruction-page-container
  .instruction-page
  .report-container
  .green-box {
  width: 100%;
  background-color: #377d4f;
  padding: 15px 20px;
  box-sizing: border-box;
  letter-spacing: 0.5px;
  line-height: 1.6rem;
  color: #fff;
  margin: 20px 0 20px 0;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.21);
}
.App
  .instruction-page-container
  .instruction-page
  .report-container
  .green-box
  p {
  font-size: 1.1rem;
  margin: 0 0 10px 0;
  font-style: italic;
}
.App
  .instruction-page-container
  .instruction-page
  .report-container
  .green-box
  h3 {
  margin-top: 10px;
}
.App
  .instruction-page-container
  .instruction-page
  .report-container
  .white-box {
  width: 100%;
  background-color: #fff;
  padding: 15px 20px;
  box-sizing: border-box;
  letter-spacing: 0.5px;
  line-height: 1.6rem;
  color: #212121;
  margin: 20px 0;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.21);
}
.App .instruction-page-container .instruction-page .report-container hr {
  opacity: 0.3;
}
.App
  .instruction-page-container
  .instruction-page
  .report-container
  .reportElement {
  margin: 10px 0;
  padding: 0 15px;
  box-sizing: border-box;
}
.App
  .instruction-page-container
  .instruction-page
  .report-container
  .reportElement
  h3 {
  color: #284e78;
}
.App
  .instruction-page-container
  .instruction-page
  .report-container
  .reportElement
  .flex {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}
.App
  .instruction-page-container
  .instruction-page
  .report-container
  .reportElement
  .flex
  .subject {
  line-height: 1.6rem;
  font-weight: 200;
  width: 63%;
}
.App
  .instruction-page-container
  .instruction-page
  .report-container
  .reportElement
  .flex
  .answer {
  display: block;
  line-height: 1.6rem;
  font-weight: 600;
  width: 37%;
}
.App .instruction-page-container .instruction-page .report-container table tr {
  display: flex;
  height: 120px;
  width: 89vw;
  overflow: hidden;
  letter-spacing: 0.5px;
  line-height: 25.6px;
}
.App
  .instruction-page-container
  .instruction-page
  .report-container
  table
  tr:nth-of-type(even) {
  border-top: solid 2px #212121;
  opacity: 0.3;
  height: 0px;
}
.App
  .instruction-page-container
  .instruction-page
  .report-container
  table
  td:first-child {
  min-width: 155px;
  max-width: 155px;
  color: #212121;
  font-size: 1.05em;
}
@media screen and (max-width: 1800px) {
  .App
    .instruction-page-container
    .instruction-page
    .report-container
    table
    td:nth-child(2) {
    width: 49vw;
  }
  .App
    .instruction-page-container
    .instruction-page
    .report-container
    table
    td:nth-child(4) {
    width: 29vw;
  }
}
@media screen and (max-width: 1490px) {
  .App
    .instruction-page-container
    .instruction-page
    .report-container
    table
    tr {
    width: 87vw;
  }
  .App
    .instruction-page-container
    .instruction-page
    .report-container
    table
    td:nth-child(2) {
    width: 30vw;
  }
  .App
    .instruction-page-container
    .instruction-page
    .report-container
    table
    td:nth-child(4) {
    width: 40vw;
  }
}
@media screen and (max-width: 1120px) {
  .App
    .instruction-page-container
    .instruction-page
    .report-container
    table
    tr {
    width: 86vw;
  }
}
@media screen and (max-width: 635px) {
  .App
    .instruction-page-container
    .instruction-page
    .report-container
    table
    tr {
    overflow: visible;
    margin-left: -15px;
  }
  .App
    .instruction-page-container
    .instruction-page
    .report-container
    table
    td:nth-child(2) {
    max-width: 25vw;
  }
  .App
    .instruction-page-container
    .instruction-page
    .report-container
    table
    td:nth-child(4) {
    width: 25vw;
  }
}
@media screen and (max-width: 450px) {
  .App
    .instruction-page-container
    .instruction-page
    .report-container
    table
    tr:nth-child(9)
    td:nth-child(n + 2) {
    font-size: 3.5vw;
  }
}
.App
  .instruction-page-container
  .instruction-page
  .report-container
  table
  td:first-child
  p {
  color: #ad3e2f;
  display: contents;
  font-size: small;
  line-height: 15px;
}
.App
  .instruction-page-container
  .instruction-page
  .report-container
  table
  td:nth-of-type(even) {
  text-align: center;
  min-width: 65px;
  padding-right: 5px;
}
.App
  .instruction-page-container
  .instruction-page
  .report-container
  table
  td:nth-child(2) {
  width: 50vw;
  justify-content: right;
  padding-right: 10px;
}
.App
  .instruction-page-container
  .instruction-page
  .report-container
  table
  td:nth-child(3) {
  border-left: dashed 2px #212121;
  opacity: 0.3;
  min-width: 0px;
}
.App
  .instruction-page-container
  .instruction-page
  .report-container
  table
  td:nth-child(4) {
  width: 30vw;
  padding-right: 0px;
  padding-left: 10px;
}
.App
  .instruction-page-container
  .instruction-page
  .report-container
  table
  td:nth-child(n + 2)
  br {
  margin-bottom: 5px;
}
.App .instruction-page-container .instruction-page .report-container td {
  display: inherit;
  align-items: center;
}
.App
  .instruction-page-container
  .instruction-page
  .report-container
  .vitalValues {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0 15px;
  box-sizing: border-box;
}
.App
  .instruction-page-container
  .instruction-page
  .report-container
  .vitalValues
  h3 {
  color: #ad3e2f;
}
.App
  .instruction-page-container
  .instruction-page
  .report-container
  .vitalValues
  .flex {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}
.App
  .instruction-page-container
  .instruction-page
  .report-container
  .vitalValues
  .flex
  .vital-subject {
  line-height: 1.6rem;
  font-weight: 200;
  width: 75%;
}
.App
  .instruction-page-container
  .instruction-page
  .report-container
  .vitalValues
  .flex
  .vital-answer {
  line-height: 1.6rem;
  font-weight: 400;
  width: 25%;
}
.App .instruction-page-container .instruction-page .controlDone-btn {
  display: none;
}
.App .instruction-page-container .instruction-page .controlDone-btn.active {
  display: block;
  background-color: #f0c816;
  margin: 50px 30px 30px 30px;
  padding: 10px 15px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}
.App .nextButtondiv {
  background-image: linear-gradient(
    rgba(250, 250, 250, 0) 0%,
    rgba(250, 250, 250, 0.9) 50%,
    rgba(250, 250, 250, 1) 80%
  );
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0 25px 0;
  transition: transform 300ms, opacity 300ms;
}
.App .nextButtondiv .nextButtoninactive {
  width: 265px;
  height: 52px;
  border-radius: 52px;
  background-color: #b5b5b5;
  color: #cfcfcf;
  font-size: 17px;
  text-align: center;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.56);
  border: 0;
  transition-delay: 300ms;
  transition-duration: 250ms;
}
.App .nextButtondiv .nextButtoninactive.nextButtonactive {
  background-color: #cf7740;
  color: #fff;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
}
.App .nextButtondiv .nextButtoninactive:focus,
.App .nextButtondiv .nextButtonactive:focus {
  outline: none;
}
