$font-montserrat: "Montserrat", sans-serif;
$sote-black: #212121;
$sote-red: #ad3e2f;
$sote-dark-red: #ab2615;
$sote-green: #377d4f;
$sote-orange: #db5400;
$sote-light-orange: #f0a171;
$sote-blue: #284e78;
$sote-yellow: #f0c816;
$app-background-color: #fafafa;

body,
html {
  margin: 0;
}

.App {
  width: 100%;
  height: 100vh;
  background-color: $app-background-color;

  .menu-panel {
    display: none;

    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
      15deg,
      rgba(29, 61, 105, 0.75),
      rgba(29, 61, 105, 0.9),
      rgba(29, 61, 105, 0.98),
      rgba(29, 61, 105, 1)
    );

    position: fixed;
    top: 0;
    z-index: 50;

    padding: 40px 12vw;
    box-sizing: border-box;

    font-family: $font-montserrat;
    color: #fff;

    transition-duration: 400ms;

    img {
      display: block;
      margin-bottom: 50px;
    }

    .content {
      margin-top: 80px;
      float: right;

      p {
        opacity: 0.8;
        display: block;
        float: right;
      }
    }
  }

  .menu-panel.active {
    display: block;
  }

  .emergencyPage-container {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 0vh;

    overflow: auto;
    z-index: 21;

    transition-duration: 400ms;
    transition-timing-function: ease-out;

    font-family: $font-montserrat;

    .emergencyPage-topBar {
      background-color: $sote-dark-red;
      padding: 26px 8vw 0 8vw;
      box-sizing: border-box;
      position: fixed;
      width: 100%;
      height: 150px;
      z-index: 13;

      img {
        width: 26px;
        height: 26px;
      }

      h2 {
        font-size: 24px;
        padding: 20px 0 10px 0;
        color: #fff;
        letter-spacing: 0.5px;
      }
    }

    .symptoms-container {
      width: 100%;
      padding: 155px 3vw;
      box-sizing: border-box;
      background-color: #fff;

      .symptom-card {
        background-color: #f0e4bb;
        border: 1px solid #e0d9b8;
        border-radius: 4px;

        width: 100%;
        padding: 6px 14px;
        margin: 12px 0;
        box-sizing: border-box;

        transition-duration: 400;

        .header-content {
          font-size: 15px;
          line-height: 20px;
          width: 100%;

          display: flex;
          align-items: center;
          justify-content: space-between;

          h4 {
            color: $sote-dark-red;
            width: 70vw;
          }

          span {
            color: $sote-black;
          }

          .dropdown-btn {
            height: 100%;
            width: 30px;

            img {
              height: 10px;
            }
          }
        }

        .instructions {
          overflow-y: hidden;
          transition-timing-function: ease-in-out;
          transition-duration: 250ms;

          p {
            font-weight: 300;
            line-height: 1.7rem;
          }
        }
      }
    }
  }

  .emergencyPage-container.active {
    display: unset;
    height: 100vh;
  }

  .TopArea {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;

    .flex-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      height: 130px;
      width: 100%;
      padding: 0 8vw 30px 8vw;
      box-sizing: border-box;

      color: $sote-black;
      background-image: linear-gradient(
        rgba(250, 250, 250, 1) 30%,
        rgba(250, 250, 250, 0.9) 45%,
        rgba(250, 250, 250, 0.35) 65%,
        rgba(250, 250, 250, 0.15) 80%,
        rgba(250, 250, 250, 0) 100%
      );

      img {
        width: 26px;
      }

      .back-arrow {
        width: 26px;
        height: 26px;
      }

      .AppName {
        font-family: $font-montserrat;
        font-size: 20px;
        font-weight: 800;
        margin: 4px 0 0 0;
      }

      .more-btn {
        height: 24px;
        width: 26px;
      }
    }
  }

  .ProgressBar {
    .bar-background {
      background-color: #e8e8e8;

      height: 18px;
      border-radius: 18px;
      margin: 0 8vw;

      box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.06);
      position: relative;

      .bar-shadow-indicator {
        height: 14px;
        width: 50px;
        border-radius: 14px;
        position: absolute;
        top: 2px;
        margin: 0 2px;

        background-color: #b8b8b8;
      }

      .bar-indicator {
        height: 14px;
        width: 50px;
        border-radius: 14px;
        position: absolute;
        top: 2px;
        margin: 0 2px;

        background-color: #315991;
      }
    }
  }

  .nextButtondiv {
    background-image: linear-gradient(
      rgba(250, 250, 250, 0) 0%,
      rgba(250, 250, 250, 0.9) 50%,
      rgba(250, 250, 250, 1) 80%
    );
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0 25px 0;

    .nextButtoninactive {
      width: 265px;
      height: 52px;
      border-radius: 52px;
      background-color: #b5b5b5;
      color: #cfcfcf;
      //font-family:Montserrat;
      font-size: 17px;
      text-align: center;
      box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.56);
      border: 0;

      transition-delay: 400ms;
      transition-duration: 250ms;
    }

    .nextButtoninactive.nextButtonactive {
      background-color: #cf7740;
      color: #fff;
      box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
    }

    .nextButtoninactive:focus,
    .nextButtonactive:focus {
      outline: none;
    }
  }

  .checkboxComponent {
    width: 100%;
    padding: 10px 0;

    form {
      display: flex;
      align-items: center;
      justify-content: space-between;

      p {
        color: $sote-black;
        margin: 0;
        font-weight: 700;
        font-size: 0.9rem;
      }

      .checkbox-input {
        appearance: none;
        background-color: #fff;
        border: 2px solid $sote-black;
        padding: 9px;
        border-radius: 4px;
        display: inline-block;
        position: relative;
      }

      .checkbox-input:focus {
        outline: none;
      }

      .checkbox-input:checked::after {
        content: url(./Images/checkbox-tik.svg);
        position: absolute;
        width: 21px;
        height: 21px;
        top: -3px;
        left: 3px;
      }
    }
  }

  .Textarea {
    margin-top: 30px;

    p {
      margin: 10px 0 !important;
      text-align: start !important;
      font-weight: 700 !important;
      font-size: 0.9rem;
    }

    textarea {
      box-sizing: border-box;
      width: 100%;
      height: 30vh;
      border: 1px solid #8c8c8c;
      border-radius: 4px;
      background-color: #ffffff;
      font-family: $font-montserrat;
      font-weight: 100;
      font-style: italic;
      font-size: 14px;
      padding: 15px;
    }

    textarea:focus {
      outline: none;
    }
  }

  .Page {
    width: 100%;
    background-color: $app-background-color;
    padding: 21vh 6vw 30vh 6vw;
    box-sizing: border-box;

    font-family: $font-montserrat;

    h1 {
      text-align: center;
      font-size: 1.3rem;
      margin-bottom: 40px;
      font-weight: 600;
    }

    p {
      text-align: center;
      margin-bottom: 60px;
      font-weight: 300;
      line-height: 1.8rem;
    }

    /*.attention text and emergency link properties are in the landingpage*/
    .attentionText {
      color: $sote-red;
      font-weight: 800;
    }

    .emergencyPage-link {
      font-size: 0.9rem;

      span {
        text-decoration: underline;
        color: $sote-red;
      }
    }
  }

  .DoubleButton {
    margin: 50px 10px 70px 10px;

    h2 {
      font-family: $font-montserrat;
      font-size: 0.9rem;
      font-weight: 700;
      margin-bottom: 25px;
    }

    p {
      margin-bottom: 25px;
      font-weight: 100;
      text-align: start;
      font-size: 0.9rem;
    }

    form {
      display: flex;
      justify-content: space-between;
    }

    input {
      border: 1px solid #8c8c8c;
      background-color: #fff;
      border-radius: 4px;
      height: 36px;
      width: 40vw;
      font-size: 14px;
    }

    input:focus {
      outline: none;
    }

    .hoito-ohje_1 {
      margin-top: 10px;
      padding: 0px 20px;
      font-size: 16px;
      box-sizing: border-box;
      width: 100%;
      max-height: 0;
      background-color: #f0c816;
      overflow: hidden;

      transition-duration: 400ms;
      transition-timing-function: ease-in-out;

      p {
        font-size: 14px;
        text-align: start;
        line-height: 1.8rem;
      }
    }

    .hoito-ohje_2 {
      margin-top: 10px;
      padding: 0px 20px;
      font-size: 16px;
      box-sizing: border-box;
      width: 100%;
      max-height: 0;
      background-color: #f0c816;
      overflow: hidden;

      transition-duration: 400ms;

      p {
        font-size: 14px;
        text-align: start;
        line-height: 1.8rem;
      }
    }

    .active {
      width: 100%;
      max-height: 200px;
      padding: 10px 20px;
    }
  }

  .news-container {
    text-align: center;

    .news-input {
      border: 1px solid #8c8c8c;
      border-radius: 4px;
      text-align: center;
      font-size: 28px;
      color: $sote-black;

      width: 140px;
      height: 60px;

      margin-bottom: 20px;
    }

    .news-input:focus {
      outline: none;
    }

    .news-meter {
      display: flex;
      height: 30px;
      width: 100%;
    }

    .news-meter-cell {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 100%;
      width: (100% / 7);

      opacity: 0.65;
      color: #fff;
      font-size: 12px;

      transition-delay: 150ms;
      transition-duration: 250ms;
    }

    .n1 {
      background-color: $sote-red;
      border-radius: 4px 0 0 4px;
      overflow: hidden;
    }

    .n7 {
      background-color: $sote-red;
      border-radius: 0 4px 4px 0;
      overflow: hidden;
    }

    .n2,
    .n6 {
      background-color: $sote-orange;
      overflow: hidden;
    }

    .n3,
    .n5 {
      background-color: $sote-light-orange;
      overflow: hidden;
    }

    .n4 {
      background-color: $sote-green;
      overflow: hidden;
    }

    .active {
      opacity: 1;
      width: 60px;
      height: 40px;
      transform: translateY(-12%);
      font-size: 15px;
    }
  }

  .instruction-page {
    width: 100%;
    padding: 120px 4vw;
    box-sizing: border-box;

    font-family: $font-montserrat;

    .scoreCard-container {
      width: 100%;
      background-color: $sote-blue;
      padding: 5px 15px;
      box-sizing: border-box;
      margin: 12px 0;

      letter-spacing: 0.5px;
      line-height: 1.6rem;
      color: #fff;

      p {
        font-size: 1.1rem;
        margin: 20px 0;
      }

      h3 {
        margin-top: 35px;
      }
    }

    .InstructionCard-first-container {
      width: 100%;
      background-color: #fff;
      border: 1px solid #b5b5b5;
      padding: 5px 15px;
      box-sizing: border-box;
      margin: 15px 0;

      letter-spacing: 0.5px;
      line-height: 1.6rem;
      color: #212121;

      p {
        margin-top: 28px;
        font-weight: 200;
        padding: 0 15px;
      }

      span {
        font-weight: 600;
      }

      .unusual-findings-list {
        padding: 10px 20px;
        color: $sote-red;
        font-weight: 500;

        p {
          font-size: 1.1rem;
        }
      }

      .control-btn {
        background-color: $sote-yellow;
        margin: 50px 30px 30px 30px;
        padding: 10px 15px;
        text-align: center;
        border-radius: 4px;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
      }
    }

    .instruction-news-component {
      display: none;
      border: 1px solid #b5b5b5;
      text-align: center;
      padding: 30px 10px;
      margin: 15px 0;

      h1 {
        font-size: 1.2rem;
      }

      p {
        margin-bottom: 50px;
        box-sizing: border-box;
        padding: 0 15px;
        line-height: 1.6rem;
      }
    }
    .instruction-news-component.active {
      display: block;
    }
    .controlled-scoreCard-container {
      width: 100%;
      background-color: $sote-blue;
      padding: 5px 15px;
      box-sizing: border-box;
      margin: 12px 0;

      letter-spacing: 0.5px;
      line-height: 1.6rem;
      color: #fff;

      p {
        font-size: 1.1rem;
        margin: 60px 0 10px 0;
      }

      h3 {
        margin-top: 35px;
      }
    }

    .InstructionCard-second-container {
      width: 100%;
      background-color: #fff;
      border: 1px solid #b5b5b5;
      padding: 5px 15px;
      box-sizing: border-box;
      margin: 15px 0;

      letter-spacing: 0.5px;
      line-height: 1.6rem;
      color: #212121;

      p {
        margin-top: 28px;
        font-weight: 200;
        padding: 0 15px;
      }

      span {
        font-weight: 600;
      }

      .content {
        display: flex;
      }
    }

    .report-container {
      color: #212121;
      margin-top: 60px;

      hr {
        opacity: 0.3;
      }

      h2 {
        margin-bottom: 30px;
      }

      .reportElement {
        margin: 50px 0;
        padding: 0 15px;
        box-sizing: border-box;

        h3 {
          color: $sote-blue;
        }

        .flex {
          display: flex;
          justify-content: space-between;
          font-size: 0.9rem;

          .subject {
            line-height: 1.6rem;
            font-weight: 200;
            width: 70%;
          }

          .answer {
            display: block;
            line-height: 1.6rem;
            font-weight: 200;
            width: 30%;
          }
        }
      }

      .vitalValues {
        margin-top: 100px;
        padding: 0 15px;
        box-sizing: border-box;

        h3 {
          color: $sote-red;
        }

        .flex {
          display: flex;
          justify-content: space-between;
          font-size: 1rem;

          .vital-subject {
            line-height: 1.6rem;
            font-weight: 200;
            width: 80%;
          }

          .vital-answer {
            line-height: 1.6rem;
            font-weight: 200;
            width: 20%;
          }
        }
      }
    }
  }
}
